@import 'variables';
@import 'mixins';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('../img/hero1280gradient.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

h2 {
    @include header-text;
}

// HEADER-TEXT

h4 {
    @include general-text($main-color, 0px 2px 20px $accent-orange);
}

//DESCRIPTION TEXT

//INPUT STYLES BEGIN HERE
input {
    @include input-style-reset;
    @include general-text($main-color, none);
    margin: $large;

    &::placeholder {
        color: $light-blue;
        opacity: 1;
    }

    &:-ms-input-placeholder {
        color: $light-blue;
    }

    &:-ms-input-placeholder {
        color: $light-blue;
    }



    //PLACEHOLDER COLORS!
}

input[type="text"] {
    display: inline-block;
    color: $accent-color;
    font-size: $large;

    border-bottom: 1px solid transparent;
    width: 30vw;
    text-align: center;

    &:after {
        @include border-bottom-expand;
    }

    &:hover:after {
        transform: scaleX(1);
    }

    &:focus {
        border-bottom: 1px solid $accent-color;
    }
}

button {
    cursor: pointer;
    @include input-style-reset;

    @include general-text($main-color, none);

    &:after {
        @include border-bottom-expand;
    }

    &:hover:after {
        transform: scaleX(1);
    }
}


// INPUT STYLES END HERE

//ERROR BOX STYLES BEGIN HERE

.error-box {
    @include general-text($error-red, none);
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: $medium;
}

//ERROR BOX STYLES END HERE

.navigation {
    display: flex;
    flex-direction: column;

    .steps-counter {
        display: flex;
        gap: $medium;
        font-size: $medium;
        color: $main-color;
        margin: 0 auto;

    }

    .button-container {
        button {
            margin-left: 1em;
        }
    }
}

#logo {
    text-align: center;


    img {
        width: 5rem;
        text-align: center;
    }
}

.page {
    height: 80vh;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    a {
        color: $accent-color;

        &:hover {
            color: $blue;
        }
    }
}

.active {
    display: flex;
    animation: transitionInOut 0.75s;
}

.hidden {
    visibility: hidden;
}

.customer-name-span {
    text-transform: capitalize;
}

#carousel {

    ul {
        display: flex;


        li {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            margin: $small/2;
            padding: $small;
            text-align: center;
            border: 1px solid transparent;


            &:hover {
                cursor: pointer;
                border: 1px solid $accent-color;
            }

            img {
                width: 128px;
                pointer-events: none; //AVOID E.TARGET RETURNING THIS ELEMENT
            }

            p {
                @include general-text($main-color, none);
                pointer-events: none; // THIS IS TO AVOID E.TARGET RETURNING THIS ELEMENT
            }
        }

        .selected {
            background-color: $blue;
        }
    }
}

#summary {
    @include general-text($main-color, none);
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: $medium;


}

@keyframes transitionInOut {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0deg);
    }
}